.marquee{
    display: inline-block;
    white-space: nowrap;
    animation: marquee 18s linear infinite;
}

@keyframes marquee{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.img-border {
    position: relative;
    display: inline-block;
    border-radius: 16px;
    padding: 3px; /* border thickness */
    overflow: hidden;
}

.img-border::before {
    content: "";
    position: absolute;
    inset: -150%;
    background: conic-gradient(
        transparent,
        pink,
        transparent,
        transparent
    );
    animation: rotate 2s linear infinite;
}

.img-border img {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 16px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}



.project-card {
  position: relative;
  border-radius: 12px;
}

.project-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 14px;
  background: linear-gradient(-45deg, #F7DA70 0%, #FEDDA0 50%, #C084FC 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #F7DA70 0%, #C084FC 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-card:hover::before {
  transform: rotate(-90deg) scaleX(1.40) scaleY(0.80);
}

.project-card:hover::after {
  opacity: 1;
  filter: blur(30px);
}